#poke-filter {
    position: absolute;
    bottom: 92%;
    left: -3px;
    top: 36%;
    z-index: 999;
    padding: 20px;
    border: 3px solid black;
    background-color: #ebe9e9;
    color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  #poke-filter:focus{
    outline: none;
  }

  .selected-pkm{
    top: 45%;
    position: relative;
  }
  
  .poke-list {
    float: right;
    margin-top: 50px;
    width: 26%;
    text-transform: capitalize;
    opacity: 0.95;
    list-style: none;
}
.poke-list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  cursor: pointer;
  list-style: none;
  background-color: #ebe9e9;
  color: black;
  margin-top: 3px;
  border-radius: 21px;
  margin-left: 10px;
}
.poke-list-item:hover {
  background-color: #555; 
  color: white;
}
.poke-list-item img {
  margin-right: 10px;
  vertical-align: middle;
}
@media(max-width: 1000px){
  .poke-list{
    display: inline-block !important;
    width: 100% !important;
    margin-top: 230px;
    padding: 0;
    
  }
}